@page "/Roles"
@using TimeSheetApp.Shared.Entities;
@inject HttpClient Http

<h3>All Roles</h3>

@if (AllRoles == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var rl in AllRoles)
            {
                <tr>
                    <td>@rl.ID</td>
                    <td>@rl.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private List<Role> AllRoles = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        AllRoles = await Http.GetFromJsonAsync<List<Role>>("/api/Role/GetAll");
    }
}