@page "/User"
@using TimeSheetApp.Shared.Entities;
@inject HttpClient Http

<h3>All User List</h3>

@if (AllUsers == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var usr in AllUsers)
            {
                <tr>
                    <td>@usr.ID</td>
                    <td>@rl.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private List<User> AllUsers = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        AllUsers = await Http.GetFromJsonAsync<List<User>>("/api/User/GetAll");
    }
}