@page "/User"
@using TimeSheetApp.Shared.Entities;
@inject HttpClient Http

<h3>All Users</h3>

@if (AllUser == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>First name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var usr in AllUser)
            {
                <tr>
                    @*<td>@usr.ID</td>
                    <td>@usr.FirstName</td>*@
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private List<User> AllUser = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        AllUser = await Http.GetFromJsonAsync<List<User>>("/api/User/GetAll");
    }
}